.rvt-card {
    background-color: var(--rvt-color-card-background);
    border-color: var(--rvt-color-card-border);
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    padding: 20px 30px 40px;
}

.mat-card {
    box-shadow: none !important;
}

@media (max-width: 960px) {
    .rvt-card {
        padding: 10px 15px 20px;
    }
}