@import './elevationStyles.scss';

.mat-datepicker-toggle button.mat-icon-button {
  position: relative;
  background: none;
  color: var(--rvt-color-icon-neutral);
  height: 28px;
  width: 28px;

  &:focus,
  &:hover,
  &.cdk-keyboard-focused {
    background-color: var(--rvt-color-btn-text-bg-hover);
  }

  &:before {
    @extend .inner-rivet-icon-datepicker !optional;
    outline: none;
  }

  span.mat-button-wrapper {
    display: none;
  }
}

.mat-datepicker-content {
  @include rvt-elevation-low;
  background-color: var(--rvt-color-datepicker-bg);

  .mat-button {
    font-family: var(--rvt-font-family);
    color: var(--rvt-color-btn-text);
  }

  .mat-calendar-body-label:not(:last-of-type) {
    visibility: hidden; // hides extra month label without breaking 1st of month position (already aria-hidden)
  }

  .mat-calendar-body-label:last-of-type {
    display: none;
  }

  .mat-calendar-table-header {
    font-family: var(--rvt-font-family);
    border-bottom: 1px solid var(--rvt-color-datepicker-content-border);

    th {
      font-size: var(--rvt-font-size-h);
    }
  }

  .mat-calendar-body-cell-content {
    border-color: transparent;
    font-family: var(--rvt-font-family);
    font-size: var(--rvt-font-size-h);

    &:hover,
    &:focus {
      border-color: var(--rvt-color-datepicker-content-border);
    }
  }

  .mat-calendar-body-active .mat-calendar-body-cell-content {
    border-color: var(--rvt-color-datepicker-content-active);
    background-color: var(--rvt-color-datepicker-content-active);
    color: var(--rvt-color-datepicker-content-active-text);
  }

  .mat-calendar-controls button {
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: var(--rvt-color-datepicker-content-hover);
    }

    &.mat-calendar-previous-button,
    &.mat-calendar-next-button {
      color: var(--rvt-color-btn-text);

      &.mat-button-disabled {
        color: var(--rvt-color-btn-text-disabled);
      }

      &:after {
        content: none;
      }
    }

    &.mat-calendar-previous-button:before {
      @extend .inner-rivet-icon-previous !optional;

    }

    &.mat-calendar-next-button:before {
      @extend .inner-rivet-icon-next !optional;
    }
  }
}