@import '../styles/typeStyles.scss';

.mat-spinner.mat-progress-spinner {
  svg circle {
    stroke: var(--rvt-color-neutral-4);
  }
}

button.loading:disabled {
  position: relative;
  color: transparent;
  .mat-spinner {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 7px);
    max-height: 14px;
    max-width: 14px;
    svg {
      max-height: 14px;
      max-width: 14px;
    }
  }
  &.rvt-btn-primary {
    .mat-spinner svg circle {
      stroke: var(--rvt-color-neutral-0);
    }
  }
  &.rvt-btn-secondary {
    .mat-spinner svg circle {
      stroke: var(--rvt-color-btn-secondary-text);
    }
  }
  &.rvt-btn-standard,
  &.rvt-btn-text,
  &.rvt-btn-icon {
    color: transparent;
    .mat-spinner svg circle {
      stroke: var(--rvt-color-neutral-6);
    }
  }
  &.rvt-btn-icon .mat-spinner {
    margin-left: 0;
  }
}

.loading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: height 400ms ease;
  &:not(.loading) {
    transition-delay: 200ms;
  }
  * {
    opacity: 0;
  }
  .loading-text {
    font-family: $RvtFontFamily;
    font-size: 18px;
    font-weight: var(--rvt-font-weight-bold);
    color: var(--rvt-color-neutral-4);
    margin-bottom: 10px;
  }
  .mat-spinner.mat-progress-spinner {
    max-height: 45px;
    max-width: 45px;
    svg {
      max-height: 45px;
      max-width: 45px;
      circle {
        stroke: var(--rvt-color-neutral-4);
      }
    }
  }
  &.loading {
    height: 80px;
    transition-delay: 0;
    * {
      opacity: 1;
      transition: opacity 400ms ease;
      transition-delay: 250ms;
    }
  }
}
