.top-nav-container {
  position: absolute;
  width: calc(100% - 80px); // Full width - 40px padding each side
  top: 0;
  left: 0;
  height: 46px;
  background-color: var(--rvt-color-neutral-1);
  padding: 0 40px;
  overflow: hidden;
  display: flex;
  .logo-container {
    display: inline-flex;
    height: 100%;
    margin-right: 40px;
    overflow: hidden;
    .rvt-btn-icon {
      display: none;
    }
    .logo-mobile {
      max-height: 30px;
    }
    img.logo {
      align-self: center;
      max-height: 30px;
    }
    @media (max-width: 860px) {
      margin-right: 20px;
    }
  }
  .mat-tab-nav-bar,
  .mat-tab-nav-bar.mat-primary {
    .mat-tab-links {
      height: 46px;
      a.mat-tab-link {
        height: 46px;
      }
    }
  }
}

.mat-sidenav-container {
  top: 46px;
  background-color: var(--rvt-color-neutral-0);
  .mat-drawer-side.mat-sidenav {
    border-right: 2px solid var(--rvt-color-neutral-1);
  }
}
.mat-sidenav-content {
  background: none;
  background-color: var(--rvt-color-neutral-0);
  padding: 30px;
}
.nav-content-container {
  width: 212px; // 250px - 36px padding - 2px border
  background-color: var(--rvt-color-neutral-0);
  padding: 50px 0 50px 36px;
  color: var(--rvt-color-neutral-8);
  white-space: nowrap;
  * {
    color: var(--rvt-color-neutral-8);
  }
  .nav-category {
    margin-bottom: 30px;
    &.expanded .category-header.expanding span:before {
      transform: rotate(90deg);
      transition: transform 400ms ease;
    }
    .num-circle {
      display: inline-block;
      border-radius: 50%;
      background: transparent;
      border: 1px solid var(--rvt-color-neutral-4);
      height: 23px;
      width: 23px;
      text-align: center;
      color: var(--rvt-color-neutral-8);
      line-height: 25px;
      margin-right: 10px;
    }
    .category-label {
      display: block;
      font-size: 12px;
      font-weight: var(--rvt-font-weight-regular);
      margin-left: 31px;
    }
    .category-header {
      position: relative;
      display: inline-block;
      font-weight: var(--rvt-font-weight-bold);
      margin: 0;
      line-height: 25px;
      span {
        position: absolute;
        left: -27px;
        &:before {
          display: block;
          transition: transform 400ms ease;
          margin-top: 3px;
        }
      }
      &.expanding {
        cursor: pointer;
        margin: 0 0 0 31px;
      }
    }
    .sub-nav-list {
      position: relative;
      margin: 15px 0 0 11px;
      a {
        display: block;
        border-left: 4px solid var(--rvt-color-neutral-1);
        padding-left: 15px;
        cursor: pointer;
        text-decoration: none;
        &:focus {
          outline: none;
        }
        &.active {
            font-weight: var(--rvt-font-weight-bold);
          border-color: var(--rvt-color-accent);
        }
        &:hover:not(.active),
        &:focus:not(.active) {
            font-weight: var(--rvt-font-weight-bold);
          border-color: var(--rvt-color-neutral-2);
        }
      }
    }
    &.active {
      .num-circle {
        background-color: var(--rvt-color-accent);
        color: var(--rvt-color-neutral-0);
        border: none;
        height: 25px;
        width: 25px;
      }
      .section-header {
        font-weight: var(--rvt-font-weight-bold);
      }
    }
  }
}
