.rvt-delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--rvt-color-neutral-3-alpha-90);
  z-index: 100;
  .overlay-content {
    margin: 10px 0 0 0;
    text-align: right;
    * {
      display: inline-block;
    }
    button {
      margin-right: 10px;
    }
    [rivet-delete-overlay-content] {
      margin-right: 15px;
      font-weight: var(--rvt-font-weight-bold);
      color: var(--rvt-color-neutral-8);
    }
  }
}
