@import './elevationStyles.scss';

.mat-snack-bar-container {
    @include rvt-elevation-medium;
    background: var(--rvt-color-snackbar-bg);
    font-family: var(--rvt-font-family);
    font-size: var(--rvt-font-size-g);
    padding: 20px;
    border-radius: 4px;

    .snackbar-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .snackbar-text {
            display: flex;
            align-items: center;
            color: var(--rvt-color-snackbar-text);
        }

        button.snackbar-action {
            &:focus {
                outline: 2px solid var(--rvt-color-keyboard-focus);
            }

            span {
                color: var(--rvt-color-snackbar-btn-text);
            }
        }
    }


    &.error {
        background-color: var(--rvt-color-snackbar-bg-error);

        *,
        .snackbar-text {
            color: var(--rvt-color-text-contrast);
        }
    }

    &.success {
        background-color: var(--rvt-color-snackbar-bg-success);

        *,
        .snackbar-text {
            color: var(--rvt-color-text-contrast);
        }
    }

    .mat-simple-snackbar {
        color: var(--rvt-color-snackbar-text);
    }

    .mat-simple-snackbar-action {
        button.mat-button {
            &:focus {
                outline: 2px solid var(--rvt-color-keyboard-focus);
            }

            span {
                color: var(--rvt-color-snackbar-btn-text);
            }
        }
    }
}